.form-control:focus,.form-select:focus {
    border: 1px solid #ced4da;
  }

  .page-link:focus{
    box-shadow: none;
  }

   .table-container{
    overflow-x: auto;
    overflow-y: hidden;
  }
 .containter-list{
  height: 28.75rem;
 }

  .pointer{
    cursor: pointer;
  }

  td,th{
    white-space: nowrap;
  }

  .table-description,.table-name{

    text-overflow: ellipsis;
    word-wrap: 1;
    overflow: hidden;
  }
  .table-name{
    max-width: 10rem;

  }
  .table-description{
    max-width: 8rem;
  }

  .todo-container{
    animation:fadeIn .3s ease-in-out;
  }

  @keyframes fadeIn{
    0%{
      opacity: 0;
      transform:translateY(20px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
  .option-icon{
    background-color: rgba(255, 0, 0, 0);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .option-icon:hover,  .option-icon:focus{
    background-color: #e9f2ff;
    animation: pulse 1s infinite;
  }
  @keyframes pulse {
    0%{
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.4);
    }
    70%{
      box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
    }
    100%{
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
    }
  }