.form-control:focus,.form-select:focus {
    border: 1px solid #ced4da;
  }

  .page-link:focus{
    box-shadow: none;
  }

   .table-container{
    overflow-x: auto;
    overflow-y: hidden;
  }
 .containter-list{
  height: 25.75rem;
 }

  .pointer{
    cursor: pointer;
  }

  td,th{
    white-space: nowrap;
  }

  .table-description,.table-name{

    text-overflow: ellipsis;
    word-wrap: 1;
    overflow: hidden;
  }
  .table-name{
    max-width: 10rem;

  }
  .table-description{
    max-width: 8rem;
  }

  .todo-container{
    animation:fadeIn .3s ease-in-out;
  }

  @keyframes fadeIn{
    0%{
      opacity: 0;
      transform:translateY(20px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }